.fbLogin {
  margin-left: 4px;
}

.Login {
  background: #4c69ba;
  background: linear-gradient(#4c69ba, #3b55a0);
  color: white;
  padding: 10px;
  /*margin-bottom: 10px;*/
}

.listNav {
  background: #44568a;
  background: linear-gradient(#737681, #666a7a);
  color: white;
  padding: 10px;
}
.listNav button {
  float: right;
}
.Login a {
  color: white;
}
.Login form input,
.Login form button {
  margin: 0 5px;
}
