.fbLogin {
  margin-left: 4px;
}

.Login {
  background: #4c69ba;
  background: linear-gradient(#4c69ba, #3b55a0);
  color: white;
  padding: 10px;
  /*margin-bottom: 10px;*/
}

.listNav {
  /* background: #44568a; */
  /* background: linear-gradient(#737681, #666a7a); */
  color: white;
  padding: 10px;
}
.listNav label {
  float: right;
  display: block;
}

.Login a {
  color: white;
}
.Login form input,
.Login form button {
  margin: 0 5px;
}
.app-header .app-title {
  margin-top: 12px;
  margin-left: 16px
}
.app-header .app-logo {
  height:77px;
  margin-top:-8px
}
.app-left-nav {
  margin: 30px;
}
.listNav {
  /* background: linear-gradient(45deg, #000000, #ffa700); */

  /* background: linear-gradient(217deg, rgba(255,160,0,.8), rgba(255,111,0,0) 70.71%),            linear-gradient(127deg, rgba(200,50,0,.8), rgba(0,0,0,0) 70.71%),            linear-gradient(336deg, rgba(255,0,0,.8), rgba(255,111,0,0) 70.71%); */
}


.listNav {
	background: linear-gradient(-45deg, #000000, #ff6f00, #ffa000, #000, #ff8200);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
    background-rotate: 180deg;
	}
	100% {
		background-position: 0% 50%;
    background-rotate: 270deg;
	}
}

.dbInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  padding:20px;

  background: radial-gradient(ellipse at top, #fdd, transparent), radial-gradient(ellipse at bottom, #efd, transparent);
  background-size: 400% 400%;
}

.timeTravel {
  height: 25rem;
  overflow-y: scroll;
}

.uploadManager {
  margin-top: 2rem;
}

html {
  animation: gradient 20s ease infinite;
}