; .npmrc
enable-pre-post-scripts=true
registry=http://localhost:4873/
@fireproof:registry=http://localhost:4873/
//localhost:4873/:_authToken="NTkyNzVmNTEyMDFlODlhNzg1ZmU3MmIxZGQ2YTk2Mzg6M2ZjYjhmMDcxOTg1NGMyZWU3NWU0ZmY0MzE0NmExYzM3YTYxNzM4YTA1"
