name: '@fireproof/core-cloud-cf-deploy'
on:
  push:
    tags:
      - 'core-cf@*'

env:
  FP_CI: 'fp_ci'

jobs:
  ci_core_cf_deploy:
    name: CI Core CF Deploy
    services:
      docker:
        image: docker:dind
        options: --privileged
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    environment: ${{ startsWith(github.ref, 'refs/tags/core-cf@s') && 'staging' || startsWith(github.ref, 'refs/tags/core-cf@p') && 'production' || 'dev' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/runtime

      - name: dummy build
        run: |
          pnpm i

      - name: deploy cloud/backend/cf-d1 - 1
        id: attempt1
        continue-on-error: true
        working-directory: cloud/backend/cf-d1
        env:
          CLOUD_SESSION_TOKEN_PUBLIC: ${{ vars.CLOUD_SESSION_TOKEN_PUBLIC }}
          CLOUD_SESSION_TOKEN_SECRET: ${{ secrets.CLOUD_SESSION_TOKEN_SECRET }}
          CLOUDFLARE_D1_TOKEN: ${{ secrets.CLOUDFLARE_D1_TOKEN }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS_KEY }}
          ACCESS_KEY_ID: ${{ vars.ACCESS_KEY_ID }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_DATABASE_ID: ${{ vars.CLOUDFLARE_DATABASE_ID }}
          FP_ENDPOINT: ${{ vars.FP_ENDPOINT }}
          STORAGE_URL: ${{ vars.STORAGE_URL }}
          CLOUDFLARE_ENV: ${{ vars.CLOUDFLARE_ENV }}
        run: |
          pnpm run drizzle:d1-remote
          echo "FP_ENDPOINT: $FP_ENDPOINT"
          echo "CLOUDFLARE_ENV: $CLOUDFLARE_ENV"
          echo "CLOUD_SESSION_TOKEN_PUBLIC=$(echo -n $CLOUD_SESSION_TOKEN_PUBLIC | sha256sum)"
          echo "SECRET_ACCESS_KEY=$(echo -n $SECRET_ACCESS_KEY | sha256sum)"
          pnpm exec core-cli writeEnv \
            --wranglerToml ./wrangler.toml \
            --env $CLOUDFLARE_ENV \
            --out .env --json 
          cat .env
          cat .env | pnpm exec wrangler -c ./wrangler.toml secret --env $CLOUDFLARE_ENV bulk
          pnpm run wrangler:deploy --env $CLOUDFLARE_ENV
          # pnpm exec core-cli retry -- pnpm run test --project cloud:D1 --testTimeout 10000
