name: '@fireproof/core-publish'
on:
  push:
    tags:
      - 'core@*'

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  ci_core_publish:
    name: CI Core Publish
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
    environment: ${{ startsWith(github.ref, 'refs/tags/core@s') && 'staging' || startsWith(github.ref, 'refs/tags/core@p') && 'production' || 'dev' }}
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/base

      - uses: ./actions/core-publish
