name: '@fireproof/core'
on:
  push:
    branches:
      - main
      - 'mabels/**'
      - 'jchris/**'
      - 'dependabot/**'

    paths-ignore:
      - 'dashboard/**/*'

#  pull_request_target:
#    types: [opened, synchronize, reopened]
#    branches: [main]

jobs:
  ci_core:
    name: CI Core
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
      options: --privileged --add-host=host.docker.internal:host-gateway --env STORAGE_URL=http://host.docker.internal:9000/testbucket --env FP_ESM=http://host.docker.internal:4874 --env FP_NPM_REGISTRY=http://host.docker.internal:4873
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    environment:
      name: external-pr
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/base
