name: '@fireproof/core'
on:
  push:
    branches:
      - main
      - 'mabels/**'
      - 'jchris/**'
      - 'dependabot/**'

    paths-ignore:
      - 'dashboard/**/*'

#  pull_request_target:
#    types: [opened, synchronize, reopened]
#    branches: [main]

jobs:
  ci_core:
    name: CI Core
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
    environment:
      name: external-pr
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/base
