name: CI
on:
  - push
  - pull_request

env:
  FP_CI: "fp_ci"

jobs:
  build-test-smoke:
    name: Build Fireproof
    environment: ${{ startsWith(github.ref, 'refs/tags/s') && 'staging' || startsWith(github.ref, 'refs/tags/p') && 'production' || 'dev' }}

    runs-on: blacksmith-4vcpu-ubuntu-2204-arm
    #steps:
    #  - uses: useblacksmith/setup-node@v5
    #    with:
    #      node-version: 20
    #runs-on: ubuntu-24.04
    steps:
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          version: 10
          cache: "pnpm"

      - uses: actions/checkout@v4

      - uses: useblacksmith/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      #- uses: actions/setup-node@v4
      #  with:
      #    node-version: 20
      #    cache: pnpm

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          version: 10
          cache: "pnpm"

      - name: smoke-esm-cache
        id: smoke-esm-cache
        uses: useblacksmith/cache@v5
        with:
          path: ~/.cache
          key: smoke-esm-cache

      - name: start-esm + npm
        run: |
          bash .github/workflows/setup-local-esm-npm.sh
          cp ./dist/npmrc-smoke .npmrc

      - name: install
        run: pnpm install
      - name: format-check
        run: pnpm run format --check
      - name: lint
        run: pnpm run lint
      - name: build
        run: pnpm run build
      - name: test
        run: pnpm run test
      - name: test:deno
        run: pnpm run test:deno
      - name: smoke
        run: pnpm run smoke
      - name: publish
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          rm -f .npmrc # publish to the world
          git fetch --tags --force
          # we need to have a safe way to store of allowedSigners
          git config --local --add gpg.ssh.allowedSignersFile ./allowed_signers
          echo "GITHUB_REF->"$GITHUB_REF
          # test tag signature
          git tag -v $(git describe --tags --abbrev=0)
          # should only run if a tag is set
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          pnpm run fppublish

      - name: deploy cloud/backend/cf-d1
        env:
          CLOUDFLARE_D1_TOKEN: ${{ secrets.CLOUDFLARE_D1_TOKEN }}
          SECRET_ACCESS_KEY: ${{ secrets.CF_SECRET_ACCESS_KEY }}
          ACCESS_KEY_ID: ${{ vars.ACCESS_KEY_ID }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_DATABASE_ID: ${{ vars.CLOUDFLARE_DATABASE_ID }}
          FP_ENDPOINT: ${{ vars.FP_ENDPOINT }}
          STORAGE_URL: ${{ vars.STORAGE_URL }}
        run: |
          env
          pnpm run drizzle:d1-remote
          pnpm run wrangler:cf-d1
          pnpm run test --project cloud:D1
